/* Empty. Add your own CSS if you like */
.stars {
	float: right;
	color: blue;
	margin-right:40% ;
}

* {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  /*background-color: rgba(0, 255, 29, 0.02)!important;*/
}

a {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}
h3 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
}
p {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714282989502px;
}

.tabs {
  height: 5.2em;
  background-color: #D9FFDD!important;
  /*background-color: rgba(0, 255, 29, 0.15)!important;*/
}

.bar-header {
  height: 2.6em;
  background-color: #D9FFDD!important;
  /*background-color: rgba(0, 255, 29, 0.15)!important;*/
}


.tab-item {
  padding-top: 1.1em;
  bottom: 0px;
  width: auto;
  height: auto;

  

}
.icon {
  transform: scale(1.2,1.2);
}

.tab-title {
  position: relative;
  padding-top: 1.2em;

}

.tab-item .icon {
  height: 42px;
  }

.button.button-balanced, .button.button-positive {
  border-radius: 1.5em;
}

.item-complex {
  border: 0.18em solid #ededed;
  border-radius: 7px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 10px;
}
a.item-complex:hover {
  background-color: yellow;
}